body {
  height: 100%;
  margin: 0;
  background-color: rgb(30, 30, 30);
  display: flex;
  align-items: center;
  justify-content: center;
}

#game {
  /*background-color: blueviolet;*/
  background-image: url("image/tree.png");
  background-size: cover;
  image-rendering: pixelated;
}

canvas {
  border: 5px solid rgb(0, 184, 22);
}

.fatbird {
  image-rendering: pixelated;
}
